@import url('../../assets/css/settings.css');
@import url('../../assets/css/header.css');
@import url('../../assets/css/pets.css');
@import url('../../assets/css/footer.css');

/*===header-pets===*/
.header-pets__container{
    padding:30px 0px;
}
.header-pets__title{
    color: #545454;
}
.header-pets__subtitle{
    color: #292929;
}
.header-pets__link{
    color:#545454;
}

/*===pets====*/
.slider-pets{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards-pets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:30px 40px;
    margin-bottom: 60px;
}

.slider__pagination>*:not(:last-child){
    margin-right: 20px;

}
.btn-slider{
    background: transparent;
    font-size: 20px;
    line-height: 115%;
    color: #292929;
}
