@import url(../../assets/fonts/stylesheet.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
}

/* ===========settings============ */
h1{
    margin: 0;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 0px 5px;
    box-sizing:content-box
}

.btn {
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    border:none;
    transition: 0.2s;
}
.btn:hover{
    cursor: pointer;
    background: #FDDCC4;
}
.text {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
   
}
.title {
    font-family: 'Georgia';
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}
/*start-screen*/

.start-screen{
    background: url('../../assets/images/bg.png');
    height: 100%;
    position: relative;
    z-index: 0;
   
}
.start-screen::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:url('../../assets/images/bg-gradient.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
    z-index: -1;
 
}

/* =============header=========== */

.header__container {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    text-decoration: none;
}

.logo__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-bottom: 10px;
}
.logo__subtitle {
    font-family: 'Arial';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.nav__list {
    list-style: none;
    display: flex;
    align-items: center;

}
.nav__item {
    border-bottom: 3px solid transparent;
    transition: 0.2s;
}

.nav__link{
    text-decoration: none;
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    display: block;
    
}
.nav__item:not(:last-child){
    margin-right: 35px;
}


.nav__item:hover, .nav__item.active{
    border-color: #F1CDB3
}
.nav__item.active:hover{
    border-color: transparent;
}

/*======main=======*/

.main__container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto 65%;
}

.main__content {
    margin-right: 42px;
    margin-top: 163px;
}
.main__content>*:not(:last-child){
    margin-bottom: 42px;
}
.main__title {
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;

}
.main__text {
    color: #CDCDCD;
}
.main__image {
    position: relative;
    padding-bottom: 104%;
    
}
.main__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    
    left: 0;
    object-fit: cover;
}

/*======about========*/
.about {
    padding-top: 80px;
    padding-bottom: 100px;
}

.about__container {
    padding: 0px 175px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about__image {
    align-self: end;
    margin-right: 120px;
}
.about__image-wrapper {
    display: flex;
    justify-content: end;

}

.about__content {
}
.about__content>*:not(:last-child){
    margin-bottom: 25px;
}
.about__title {
    max-width: 370px;
}

.about__text {
    color: #4C4C4C;
}


/*=========about========*/

.pets {
    background-color: #F6F6F6;
    padding: 80px 0px 100px;
}
.pets__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pets__heading {
    text-align: center;
    margin-bottom: 60px;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider__btn {
    width: 52px;
    flex-shrink: 0;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background:url('../../assets/icons/Arrow.svg') no-repeat;
    background-position: center;
    cursor: pointer;
}
.slider__btn:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;

}
.slider__btn.inactive{
    border: 2px solid #292929;
    filter: invert(100%);

}
.slider__btn.inactive:hover{
    background-color: transparent;
    border: 2px solid #292929;

}

.prev {
    margin-right: 53px;
}
.next {
    transform: rotate(180deg);
    margin-left: 53px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 60px;
}
.cards>*:not(:last-child){
    margin-right: 90px;

}
.card {
    display: block;
    text-decoration: none;
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card:hover .card__btn{
    background: #FDDCC4;
    cursor: pointer;

}
.card>*{
    margin-bottom: 30px;
}
.card__img {
}
.card__title {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;

}
.card__btn {
    outline: 2px solid #FDDCC4;
    background:transparent;
}

